body {
    font-family: Arial, sans-serif;
}

h1,
h2 {
    color: #333;
}

form {
    max-width: 400px;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}